* { /* always do this with every website. Gets rid of all margins and paddings and sets the box sizing*/
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  /*font-family: 'Lato', 'Ariel';*/
    /*font-family: 'Titillium Web', 'Ariel';*/
  font-family: 'Noto Sans', sans-serif;

  font-weight: 300; 
  font-size: 20px;
  text-rendering: optimizeLegibility; /*this optimizes the text rendering. */
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}



/***************************/
/*Header*/
/***************************/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/foam-saucer.jpg); 
  background-size: cover; /*fixes photo being zoomed in */
  background-position: center;
  height: 100vh;
  
}

.hero-text-box {
  position: absolute; /*the only way to virtically and horizontally center it */
  text-align: center;
  width: 600px;
  top: 50%;
  left:50%;
  transform: translate( -50%, -50%); /*used to position it from the middle instead of the corner */
  
}

.logo {
  height: 100px;
  width: auto;
  float: center;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li {
  display: inline-block; /* puts the list items side by side */
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
  transition: border-bottom 0.2s;
}

/***************************/
/*Reuseable Components*/
/***************************/

h1 {
  margin:0; /*gets rid of margin caused by normalize.css */
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  /*text-transform: uppercase;*/
  word-spacing: 4px;
  
}

h2 {
margin:0; /*gets rid of margin caused by normalize.css */
  color: #fff;
  font-size: 180%;
  font-weight: 300;
  /*text-transform: uppercase;*/
  word-spacing: 4px;
  text-align: center;
}

hr {
  border:1px solid #e67e22;
}

.row { /* all content will be in rows. This centers rows and sets them up so all rows will have these properties */
  max-width: 1140px;
  margin: 0 auto; /* centers the content within the row */
}



.hero-text {
 
  margin:0; /*gets rid of margin caused by normalize.css */
  color: #fff;
  font-size: 150%;
  font-weight: 300;
  /*text-transform: uppercase;*/
  word-spacing: 4px;
}
/***************************/
/*ABOUT SECTION*/
/***************************/
.steps-box {
  margin-top: 60px;
  
}

.steps-box:first-child {
  text-align: right;
  padding-right:6%;
}

.steps-box:last-child {
  padding-left: 3%;
}

.drew-pic {
  width: 60%;
 	border:2px solid gray;
	border-radius: 10%;
}



.about-title {
  color: black;
	margin-top: 60px;
  
}

.works-step {
	margin-top: 60px;
}

projects-image {
	width:40%;
	height: 40%;
	background-color: green;
	
}








.section-projects {
    padding: 0;
    margin:0;
}
.projects-showcase {
    list-style: none;
    width: 100%;
    margin-top: 50px;
    
}

.projects-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.projects-thumbnail {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.projects-thumbnail img {
    opacity: 0.6;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.projects-thumbnail img:hover {
    opacity: 1;
    transform: scale(1.03);
}


/***************************/
/*CONNECT TITLE*/
/***************************/

.section-connect {
    height: 500px;
    background-color: bisque;
    
}

.connect-title {
    color: black;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom:1px solid #e67e22;
}
